<li><%= collection.title %></li>
<li><%= link_to collection.filters.ids, filters_path %></li>
<li><%= link_to collection.tag, refinements_path %></li>
<li role="presentation"><button class="btn btn-default glyphicon glyphicon-plus filterBtn collectFilter" data-toggle="modal" data-target="#myFilterModal" data-whatever="@refinements"></button></li>