<h1> Collections </h1>

<% @collections.each do |collection| %>
	<h3><%= collection.title %></h3>
	<h5><%= collection.filters.name %></h5>
	<p><%= link_to "Collection Tag", collection_path(collection) %></p>  
<% end %>

<%= link_to "New Collection", new_collection_path %>